@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints
    Celular:  – 320px — 480px
    Tablet:  – 481px — 768px
    Small screens, laptops:  – 769px — 1024px
    Desktop, large screens: – 1025px — 1200px.
    TV, Extra large screens: – 1201px, and more
*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /*desnecessário
        quando imprimir não precisa ter uma imagem de fundo, por isso que não aparece imagem de fundo quando for imprimir*/
    }

    main {
        border: 5px solid black;
    }

    #celular {
        display: none;
    }

    #tablet {
        display: none;
    }

    #impressora {
        display: block;
    }

    #pc {
        display: none;
    }

    #tv {
        display: none;
    }

}

@media screen and (min-width: 710px) and (max-width: 1000px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    
    #celular {
        display: none;
    }

    #tablet {
        display: block;
    }

    #impressora {
        display: none;
    }

    #pc {
        display: none;
    }

    #tv {
        display: none;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    #celular {
        display: none;
    }

    #tablet {
        display: none;
    }

    #impressora {
        display: none;
    }

    #pc {
        display: block;
    }

    #tv {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    #celular {
        display: none;
    }

    #tablet {
        display: none;
    }

    #impressora {
        display: none;
    }

    #pc {
        display: none;
    }

    #tv {
        display: block;
    }
}









/*
@media screen and (max-width: 320px) {
    
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    
}
*/
