@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --tema1: url('imagens/pattern001.png');
    --tema2: url('imagens/pattern002.png');
    --tema3: url('imagens/pattern003.png');
    --wallpaper-aviao: url('imagens/wallpaper002.jpg');
    --wallpaper-aviao-position: url('imagens/wallpaper003.jpg');
    --wallpaper04: url('imagens/wallpaper004.jpg');
    --wallpaper05: url('imagens/wallpaper005.jpg');
    --wallpaper06: url('imagens/wallpaper006.jpg');
}

body {
    font-size: 1.25em;
    font-weight: 390;
    background-color: black;
    background-image: var(--wallpaper04);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;


}

body#b2 {
    /* 
    background-color: black;
    background-image: var(--wallpaper-aviao);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
    background: black var(--wallpaper-aviao) center center no-repeat fixed;
    background-size: cover;
}

header {
    background-image: linear-gradient(to top,#89a526, #d4f362);
    
    padding: 10px 10px 9px 11px;

    margin: -8px -8px 0px -8px;

    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.342);


}

header > h1 {
    font-family:  'Sofia Sans Semi Condensed', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: white;
    text-align: start;
    text-indent: 50px;
    text-shadow: 5px 5.5px 6px rgba(0, 0, 0, 0.137);
}

main {
    background-color: white;
    min-width: 360px;
    max-width: 1200px;

    margin: auto;
    padding: 10.5px;

    border-radius: 0px 0px 10px 10px;
    border: 0.5px solid black;
    border-top-width: 0px;
}

h1 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 10px;
    margin: 10px;


}

h2 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1.5em;

    padding: 10px;
    margin: 10px;
}

p {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    font-size: 1.15em;
    font-weight: 390;

    text-align: justify;
    text-indent: 48.5px;
    line-height: 2.15em;

    margin: 10px;
    padding: 10px;

}

nav > a {
    /*
    border: 1px solid black;
    */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    color: #76ffb8;
    text-decoration: none;
    font-style: normal;

    font-weight: 540;

    padding: 3px 15px 8px 15px;
    margin: 10px -2px 4px -4px;
}

nav > a:hover {
    background-color: #70E0A6;
    border-radius: 1.5px;

    color: #E05040;
    text-decoration: underline;
    font-style: normal;

    transition-duration: 0.2s;
}

aside {
    border: 0.5px dashed black;
    border-radius: 15px;
    background-image: linear-gradient(to top, rgb(138, 138, 138), rgb(85, 85, 85));

    min-width: auto;
    max-width: 800px;

    height: auto;

    padding: 10px;
    margin: auto;

}

aside > p {
    color: white;
    font-size: 0.9em;
    text-align: center;
    
    line-height: 1.5em;
    padding: 5px;
    margin: 5px;
    font-weight: 500;
}

aside > h1 {
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
}

div.quadrado {
    display: inline-block;

    background-color: rgba(128, 128, 128, 0.171);

    border: 0.5px solid black;
    border-radius: 10.5px;

    min-width: 350px;
    max-width: 360px;
    height: 350px;

    padding: 10px;
    margin: 10px;
}

img {
    display: block;
    margin: auto;
    padding: 10px;
    
    min-width: 360px;
    max-width: 800px;

    min-height: 360px;
    max-height: 600px;
}


img#bgr {
    margin: auto;
    width: 50%;
    padding: 10px;
}


em {
    font-style: italic;
    text-decoration: none;
}

div#q1 {
    background-image: var(--tema1);
}

div#q2 {
    background-image: var(--tema2);
}

div#q3 {
    background-image: var(--wallpaper-aviao);
}

div.bloco {
    background-image: var(--wallpaper-aviao-position);

    border: 1px solid black;
    border-radius: 5px;

    margin: auto;
    padding: 10px;

    min-width: 360px;
    max-width: 1000px;

    height: 360px;
}

div#b1 {
    background-position: left center;
}

div#b2 {
    background-position: left bottom;
}

div#b3 {
    background-position: right top;
}

div#b4 {
    background-position: right center;
}

div#b5 {
    background-position: center center;
}

div.conteiner {
    border: 1px solid black;
    border-radius: 10px;

    background-image: var(--tema3);
    min-width: 360px;
    max-width: 800px;

    height: 400px;
    margin: auto;
    padding: 10px;
}

div#c1 {
    background-repeat: no-repeat;
    background-position: center center;
}

div.caixa {
    border: 1px solid black;
    border-radius: 10px;

    background-image: var(--wallpaper-aviao);

    min-width: 340px;
    max-width: 990px;
    height: 400px;

    margin: auto;
    padding: 20px;
}

div#ca1 {

}

div#ca2 {

}

div#ca3 {

}