@charset "UTF-8";

@font-face {
    font-family: 'Letters for Learners';
    src: url('pacote-projeto/fonte/Letters\ for\ Learners.ttf') format('truetype');
}

@font-face {
    font-family: 'KGPrimaryItalics';
    src: url('pacote-projeto/fonte/KGPrimaryItalics.ttf') format('truetype');
}

@font-face {
    font-family: 'Made Tommy';
    src: url('pacote-projeto/fonte/MADE\ Tommy\ Soft\ Black\ PERSONAL\ USE.otf') format('opentype');
}

html, body {
    min-height: 100vh;
}

:root {
    --joaninha-img: url('pacote-projeto/imagens/background001.jpg');
    --livro: url('pacote-projeto/imagens/background002.jpg');
}

header > h1 {
    font-family: 'Made Tommy', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4em;
    color: white;
    margin: 5px 10px 0px 10px;
    padding: 10px 10px 1px 10p
}

header p {
    font-family: 'Made Tommy', Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.25em;
    padding: 0px 10px 10px 10px;
    margin: 0px 10px 10px 10px
    
}
header {
    background-color: black;

    max-width: 100%;

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

header a {
    color: white;
    font-style: normal;
    text-decoration: none;
}

header a:hover {
    color: rgba(255, 255, 255, 0.767);
    font-style: normal;
    text-decoration: underline;
}

main p {
    font-family: 'KGPrimaryItalics', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 1.6em;
    text-align: justify;

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

footer {
    background-color: black;
    margin: auto;
    min-width: 360px;
    max-width: 100%;
}

footer > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.9em;
}

footer a {
    color: rgb(113, 255, 172);
    text-decoration: none;
    font-style: normal;

}

footer a:hover {
    color: rgba(113, 255, 172, 0.596);
    text-decoration: underline;
}


main {

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    min-width: 360px;
    max-width: 1380px;

    border: 1px solid black;

}

article {
    min-width: 340px;
    max-width: 545px;

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

article.tem_img_fundo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;

    top: 5%;
    left: 2%;
    transform: translate(0%, -5%)
}


div#joaninha {
    position: relative;

    padding: 80px 10px 30px 10px;
    margin: auto;

    background-image: var(--joaninha-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 805px;
    min-width: 360px;
    max-width: 100%;
}

div#livro {
    position: relative;

    padding: 80px 10px 30px 10px;
    margin: auto;

    background-image: var(--livro);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 805px;
    min-width: 360px;
    max-width: 100%;
}

