@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

body {
    font-family: 'Moutains of Christmas';
    font-size: 1em;
}

p {
    /*
    font-family: 'Times New Roman', Times, serif;
    font-weight: 240;
    font-size: 1.25em;
    font-style: oblique;
    */
    font: italic 300 1.25em  'STIX Two Text',  Arial, sans-serif;
}

h1 {
    font-size: 2.5em;
    font-family: 'Fredericka the Great'; 
    font-weight: bolder;
}

ul {
    font-family: 'Mountains of Christmas';
    font-size: 1.5em;
}


a {
    color: blueviolet;
}
